.todo-app {
    --logo_color: #ccc;
    --background-color: white;
    --shadow-color: rgba(0, 0, 0, 0.2);
}

.upper-toolbar {
    --border-bottom-color: #ebdfdf;
    --new-task-input_text-color: #666;
    --new-task-input_placeholder-color: #ccc;
}

.tasks-list-item {
    --border-bottom-color: #ebdfdf;
    --hover-color: #fafafa;
    --name-span_color: #666;
    --name-span_completed-color: #ccc;
    --done-checkbox-label_border-color: #e6e6e6;
    --done-checkbox-label_hover-border-color: #ccc;
    --done-checkbox-label_focus-border-color: #ccc;
    --done-checkbox-label_checked-border-color: #5dc2af;
    --done-checkbox-label_background-color: white;
}

.footer-toolbar {
    --text-color: #888;
    --filter-tool__option-radio_checked-border-color: #ebdfdf;
    --filter-tool__option-radio_focus-border-color: #ccc;
}