@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* text decoration */

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 200;
    letter-spacing: -2.5px;
    color: #ccc;
    text-align: center;
    margin: 0;
}

.new-task-text-input::placeholder,
.new-task-text-input,
.task-label {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.6px;
    color: #ccc;
}

.new-task-text-input::placeholder {
    opacity: 1;
    font-style: italic;
}

.task-label,
.new-task-text-input {
    color: #666;
}

.task-done-checkbox:checked+label {
    color: #ccc;
    text-decoration-line: line-through;
}

.filter-option-label,
.clear-completed-button,
.tasks-left-status-bar {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.35px;
    color: #888;
}


/* app container */

.todo-app {
    background-color: white;
    width: 562px;
    margin: 0 auto;
    position: relative;
}

main {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.todo-app::after {
    content: '';
    background-color: white;
    display: inline-block;
    position: absolute;
    height: 10px;
    width: 558px;
    bottom: -5px;
    left: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.todo-app::before {
    content: '';
    background-color: white;
    display: inline-block;
    position: absolute;
    height: 10px;
    width: 554px;
    bottom: -10px;
    left: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: -2;
}


/* upper toolbar */

.upper-toolbar {
    height: 66px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    border-bottom: 1px solid #EBDFDF;
}

.new-task-text-input {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
}

.upper-toolbar button {
    min-width: 62px;
    height: 100%;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url(../images/select-all.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px 16px;
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .upper-toolbar button {
        background-image: url(../images/select-all@2x.png);
    }
}


/* tasks list */

.tasks-list {
    margin: 0;
    padding: 0;
}

.tasks-list-item {
    height: 64px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid #EBDFDF;
}

.tasks-list-item:hover {
    background-color: #FAFAFA;
}

.task-label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.delete-task-button {
    width: 42px;
    height: 100%;
    border: none;
    background-color: transparent;
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    opacity: 0;
}

.tasks-list-item:hover .delete-task-button {
    opacity: 1;
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .delete-task-button {
        background-image: url(../images/close@2x.png);
    }
}


/* custom checkboxes */

.task-done-checkbox {
    position: absolute;
    opacity: 0;
}

.task-done-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 11px;
    margin-right: 11px;
    border-radius: 50%;
    border: 1px solid #E6E6E6;
    background-color: #FFF;
    vertical-align: middle;
}

.tasks-list-item:hover .task-done-checkbox:not(:checked)+label::before {
    border-color: #ccc;
}

.task-done-checkbox:checked+label::before {
    background-image: url(../images/completed.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    border-color: #5DC2AF;
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .task-done-checkbox:checked+label::beforen {
        background-image: url(../images/completed@2x.png);
    }
}


/* footer toolbar */

footer {
    height: 43px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.tasks-left-status-bar {
    width: 116px;
    margin-left: 12px;
}

.clear-completed-button {
    width: 107px;
    border: none;
    white-space: nowrap;
    margin: 0;
    padding: 4px 0 4px 0;
    background-color: transparent;
    margin-right: 12px;
}

.filter-tool {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}


/* custom radio buttons */

.filter-option-radio {
    position: absolute;
    opacity: 0;
}

.filter-option-radio+label {
    display: flex;
    align-items: center;
    margin-left: 4px;
    margin-right: 4px;
    border: 1px transparent solid;
    border-radius: 4px;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
}

.filter-option-radio:checked+label {
    border-color: #EBDFDF;
}